.navbar {
    background-color: grey;
    justify-content: space-around;
    z-index: 2;
}

.title {
    padding: 20px;
    background-color: grey;
}

.menu-col {
    color: black;
    background-color: green;
}

.card {
    width: 300px;
    display: inline-block;
    margin: 10px;
}

.products {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

div.product-container {
    max-width: 100%;
    width: 100%;
}

.products-title {
    margin-top: 20px;
}

.hide {
    display: none;
}